In [2]:
import pandas as pd
import csv

In [3]:
!git clone https://github.com/atharva1707/Behavioral.git

Cloning into 'Behavioral'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (57/57), done.
remote: Total 60 (delta 25), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (60/60), 7.30 MiB | 6.60 MiB/s, done.
Resolving deltas: 100% (25/25), done.

In [6]:
# function to load data of single subject into a list of dataentries
def load_subject_data(filename):

    df = pd.read_csv(filename, sep='\t')
    current_run = None
    run_index = 0

    current_session = None
    session_index = 0

    session_run_index = 0

    image_freq = {}
    # Iterate through each row in the DataFrame
    for index, row in df.iterrows():
      _73kid = row['73KID']  # Access the value in the "_73kid" column

      if current_session != row['SESSION']:
        current_session = row['SESSION']
        session_index = 0
        session_run_index = 0

      if current_run != row['RUN']:
        current_run = row['RUN']
        run_index = 0
        session_run_index += 1


      run_index += 1
      df.at[index, 'RunIndex'] = run_index

      session_index += 1
      df.at[index, 'SessionIndex'] = session_index
      df.at[index, 'SessionRunIndex'] = session_run_index


      if _73kid not in image_freq:
        image_freq[_73kid] = 1
      else:
        image_freq[_73kid] += 1

      # Add a new column named "freq" to the DataFrame
      df.loc[index, 'freq'] = image_freq[_73kid]

    df=df.fillna(-1)
    return df

In [4]:
#  function to load data to all 8 subjects and return as a list of 8 data
def load_all_data():
    data1 = load_subject_data('/content/Behavioral/input/subj1.tsv')
    data2 = load_subject_data('/content/Behavioral/input/subj2.tsv')
    data3 = load_subject_data('/content/Behavioral/input/subj3.tsv')
    data4 = load_subject_data('/content/Behavioral/input/subj4.tsv')
    data5 = load_subject_data('/content/Behavioral/input/subj5.tsv')
    data6 = load_subject_data('/content/Behavioral/input/subj6.tsv')
    data7 = load_subject_data('/content/Behavioral/input/subj7.tsv')
    data8 = load_subject_data('/content/Behavioral/input/subj8.tsv')

    data = [data1, data2, data3, data4, data5, data6, data7, data8]
    return data

In [7]:
data = load_all_data()
print(data[0])

       SUBJECT  SESSION  RUN  TRIAL  73KID  10KID        TIME  ISOLD  \
0            1        1    1      1  46003    626    0.505082      0
1            1        1    1      2  61883   5013    0.505128      0
2            1        1    1      3    829   4850    0.505175      0
3            1        1    1      4  67574   8823    0.505221      0
4            1        1    1      5  16021   9538    0.505267      0
...        ...      ...  ...    ...    ...    ...         ...    ...
29995        1       40   12     58  13774   8984  262.629551      1
29996        1       40   12     59  66768   6026  262.629597      1
29997        1       40   12     60  53168   4841  262.629644      1
29998        1       40   12     61   1944   7323  262.629690      1
29999        1       40   12     62   5034   9972  262.629736      1

       ISCORRECT           RT  ...  ISOLDCURRENT  ISCORRECTCURRENT  TOTAL1  \
0            1.0   803.529781  ...             0               1.0       1
1            1.0   972.261383  ...             0               1.0       1
2            1.0   742.351236  ...             0               1.0       1
3            1.0   747.518479  ...             0               1.0       1
4            1.0   547.422774  ...             0               1.0       1
...          ...          ...  ...           ...               ...     ...
29995        0.0  1275.300175  ...             0               1.0       1
29996        1.0   661.379768  ...             1               1.0       0
29997        1.0   786.811781  ...             0               0.0       0
29998        1.0   502.626801  ...             1               1.0       0
29999        0.0   883.122362  ...             0               1.0       1

       TOTAL2  BUTTON  MISSINGDATA  RunIndex  SessionIndex  SessionRunIndex  \
0           0     1.0            0       1.0           1.0              1.0
1           0     1.0            0       2.0           2.0              1.0
2           0     1.0            0       3.0           3.0              1.0
3           0     1.0            0       4.0           4.0              1.0
4           0     1.0            0       5.0           5.0              1.0
...       ...     ...          ...       ...           ...              ...
29995       0     1.0            0      58.0         746.0             12.0
29996       1     2.0            0      59.0         747.0             12.0
29997       1     2.0            0      60.0         748.0             12.0
29998       1     2.0            0      61.0         749.0             12.0
29999       0     1.0            0      62.0         750.0             12.0

       freq
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
...     ...
29995   3.0
29996   3.0
29997   3.0
29998   3.0
29999   3.0

[30000 rows x 23 columns]